.header {
    display: flex;
    align-items: center;
    height: 64px;
    background-color: #212121;
    box-shadow: 0px 2px 2px #999;
    z-index: 10;
}

.header h1 {
    margin: 0;
    color: #ffffff;
    margin-left: 32px;
}