.category-column {
    width: 300px;
    background-color: #eeeeee;
    box-shadow: 2px 1px 2px #cdcdcd;
}

.category-column ul li {
    padding: 10px;
    padding-left: 0px;
    color: #212121;
    cursor: pointer;
}

.category-column input[type='text'] {
    color: #212121;
    height: 28px;
    padding-left: 10px;
    margin-right: 10px;
}

.category-column input[type='button'] {
    color: #212121;
    height: 32px;
    width: 32px
}