.notes-column {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20px
}

.notes-column h1 {
    color: #212121;
}

.note-card {
    width: 70%;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    color: #212121;
    margin-bottom: 20px
}

.note-card textarea {
    border: 1px solid #ccc;
    width: 100%;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    min-height: 48px;
}

.note-card input[type='button'] {
    color: #212121;
    height: 32px;
    margin-top: 5px
}

.note-card span {
    font-size: 10px;
    font-style: italic;
}