.main-container {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.app-body {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    width: 100%;
    align-items: stretch;
}